
<body>
     <header class="header">
        <!-- Left box for logo -->
        <div class="left">
            <img src="img/logo.jpg" alt="" >
        </div>
        <!-- mid box for nav -->
        <div class="mid">
            <ul class="navbar">
                <li> <a href="/" class="active">Home</a> </li>
                <li> <a href="/about">About Us</a></li>
                <li> <a href="#">Fitness Center</a></li>
                <li> <a href="#">{{challenlname}}</a></li>
            </ul>
        </div>
        <!-- righ box for button -->
        <div class="right">
           <button class="btn font1">Call Us Now </button>
           <button class="btn font1">Email Us</button>
        </div>
</header>
    <div class="container">
       <h1>Join the best gym of Etawah now</h1>
       <form action="noaction.php">
   <div class="form-group">
       <div><input type="text" name="" placeholder="Enter your name"></div>
       <div><input type="text" name="" placeholder="Enter your Age"></div>
       <div><input type="text" name="" placeholder="Enter your Gender"></div>
       <div><input type="text" name="" placeholder="Enter mobile Number"></div>
       <div><input type="text" name="" placeholder="Enter your Email Id"></div>
       
   </div>
   <button class="btn">Submit</button>
       </form>
    </div>
</body>

</html>